/* mobile */

.categories__list {
  .reset;

  font-size: 19px;
  color: #ffffff;
}

.categories__item {
  position: relative;
}

.categories__link {
  display: block;
  padding-top: 26px;
  padding-right: 0;
  padding-bottom: 29px;
  padding-left: 29px;

  color: #ffffff;
}

.categories__link--interior svg {
  position: absolute;
  top: 23px;
  right: 37px;

  width: 40px;
  height: 62px;

  fill: #149080;

  opacity: 0.5;
}

.categories__link--toys svg {
  position: absolute;
  top: 21px;
  right: 27px;

  width: 60px;
  height: 60px;

  fill: #149080;

  opacity: 0.5;
}

.categories__item--interior {
  background-color: #63d1bb;

  &:hover {
    background-color: #59d5bc;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #59d5bc;
  }
}

.categories__item--toys {
  background-color: #56c3b2;

  &:hover {
    background-color: #46c1ae;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #46c1ae;
  }
}

.categories__link--interior:hover svg,
.categories__link--toys:hover svg {
  opacity: 0.7;
}

.categories__link--interior:active svg,
.categories__link--toys:active svg {
  opacity: 0.3;
}

/* tablet = desktop */

@media (min-width: @tablet-width) {
  .categories__list {
    display: flex;

    font-size: 20px;
    line-height: 30px;
  }

  .categories__item {
    width: 50%;

    &:hover {
      margin-top: -5px;
    }
  }

  .categories__link {
    padding-top: 28px;
    padding-bottom: 31px;
    padding-left: 35px;
  }

  .categories__link--interior svg {
    top: 30px;
  }

  .categories__link--toys svg {
    top: 30px;
    right: 35px;
  }
}
