/*@media (min-width: @tablet-width) {
  .main-nav {
    width: auto;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__wrapper {
    width: 960px;
  }
*/

.main-nav__list {
  .reset;
}

.main-nav__item--delivery {
  display: none;
}

.main-nav {
  position: relative;

  width: 320px;
  min-height: 79px;
  margin: 0 auto;
}

.main-nav__logo {
  display: block;
  height: 35px;
  padding-left: 116px;
  padding-top: 22px;
  padding-bottom: 22px;

  border-bottom: 1px solid #ececec;
}

.main-nav__logo img {
  width: 86px;
  height: 35px;
}

.main-nav__item {
  border-bottom: 1px solid #ececec;
}

.main-nav__link {
  .reset;

  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 76px;

  font-size: 17px;
  line-height: 24px;
  color: #000000;
  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }
  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.main-nav__link--cart,
.main-nav__link--search {
  position: relative;
}

.main-nav__icon-cart {
  position: absolute;
  top: 30px;
  left: 40px;

  width: 21px;
  height: 18px;

  opacity: 0.2;
}

.main-nav__icon-search {
  position: absolute;
  top: 30px;
  left: 40px;

  width: 18px;
  height: 18px;

  opacity: 0.2;
}

.main-nav__toggle {
  position: absolute;
  top: 31px;
  right: 32px;
  z-index: 2;

  display: block;
  width: 22px;
  height: 22px;

  border: none;
  outline: none;

  cursor: pointer;
}

.main-nav--opened .main-nav__toggle {
  position: absolute;
  top: 31px;
  right: 32px;
  z-index: 2;

  display: block;
  width: 22px;
  height: 22px;

  background-color: transparent;
  background-image: url("../img/icon-menu-close.svg");
  background-repeat: no-repeat;

  outline: none;

  cursor: pointer;
}

.main-nav--closed .main-nav__toggle,
.main-nav--nojs .main-nav__toggle {
  position: absolute;
  top: 31px;
  right: 32px;
  z-index: 2;

  display: block;
  width: 22px;
  height: 22px;

  background-color: transparent;
  background-image: url("../img/icon-menu-open.svg");
  background-repeat: no-repeat;

  outline: none;

  cursor: pointer;
}



@media (max-width: @mobile-width-only) {
  .main-nav--closed .main-nav__list {
    display: none;
  }
}

/*@media (min-width: @tablet-width) {
  .main-nav__item--delivery {
    display: block;
  }

  .main-nav {
    min-width: 768px;
  }

  .main-nav__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;

    width: 768px;
    margin: 0 auto;
    padding-right: 50px;
    padding-left: 50px;
  }

  .main-nav {
    width: auto;
    margin: 0;
  }

  .main-nav--closed .main-nav__toggle,
  .main-nav--opened .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 570px;
  }

  .main-nav__link {
    display: block;
    margin-top: 32px;
    margin-bottom: 30px;
    margin-left: 76px;

    font-size: 17px;
    line-height: 24px;
    color: #000000;
    &:hover {
      color: rgba(0, 0, 0, 0.6);
    }
    &:active {
      color: gba(0, 0, 0, 0.3);
    }
  }

  .main-nav__logo {
    height: 35px;
    padding-left: 51px;
    padding-right: 210px;
  }

  .main-nav__item--search {
    order: 0;
  }

  .main-nav__item--cart {
    order: 0;
  }

  .main-nav__item--catalog {
    order: 1;
  }

  .main-nav__item--order {
    order: 2;
  }

  .main-nav__item--delivery {
    order: 3;
  }

  .main-nav__link {
    .reset;
  }
}*/

@media (min-width: @tablet-width) {
  .main-nav--closed .main-nav__toggle,
  .main-nav--opened .main-nav__toggle {
    display: none;
  }

  .page-header__wrapper {
    margin: 0 auto;
    width: 768px;
  }

  .main-nav {
    display: flex;
    flex-direction: row;
    width: 768px;
    margin: 0;
  }

  .main-nav__logo {
    display: flex;
    height: 46px;
    padding: 0;
    padding-top: 22px;
    padding-bottom: 19px;
    padding-left: 51px;
    padding-right: 209px;

    border-bottom: 1px solid #ececec;
  }

  .main-nav__logo img {
    width: 328px;
    height: 46px;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .main-nav__link {
    display: flex;
    flex-direction: row;
  }

  /*.main-nav__link {
    display: flex;
    flex-direction: row;
    align-items: center;
  }*/

  .main-nav__item--catalog {
    order: 1;

    border: none;
  }

  .main-nav__link--catalog {
    display: flex;
  }

  .main-nav__item--order {
    order: 2;

    border: none;
  }

  .main-nav__item--delivery {
    display: block;
    order: 3;

    border: none;
  }

  .main-nav__link--search {
    font-size: 0;
  }

  .main-nav__item--search {
    width: 88px;
    height: 87px;

    border-bottom: 1px solid #ececec;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
  }

  .main-nav__item--cart {
    border-bottom: 1px solid #ececec;
  }

  .main-nav__link--cart {
    padding-right: 52px;
  }
}
