/* mobile */

.order__wrapper {
  min-width: 320px;
  margin: 0 auto;

  background-color: #f1f1f1;
}

.order__title {
  .mobile-header;

  margin: 0;
  margin-bottom: 30px;
  padding-top: 76px;
  padding-right: 35px;
  padding-bottom: 80px;
  padding-left: 38px;

  text-align: center;
}

/* tablet */
