.page-footer__logo {
  display: none;
}

.page-footer {
  margin-top: 39px;

  background-color: #f1f1f1;
}

.footer__social {
  padding-top: 25px;
  padding-right: 62px;
  padding-bottom: 27px;
  padding-left: 57px;

  border-bottom: @grey-border;
}

.social__list {
  .reset;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social__link {
  display: block;
}

.social__link--instagram {
  width: 22px;
  height: 21px;

  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;
}

.social__link--facebook {
  width: 15px;
  height: 28px;

  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
}

.social__link--twitter {
  width: 23px;
  height: 20px;

  background-image: url("../img/icon-twitter.svg");
  background-repeat: no-repeat;
}

.footer-copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 23px;
  padding-right: 39px;
  padding-bottom: 23px;
  padding-left: 39px;
}

.footer-copyright__text {
  font-size: 19px;
  line-height: 18px;
}

.footer-copyright__link {
  width: 27px;
  height: 34px;

  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
}

/* tablet */

@media (min-width: @tablet-width) {
  .page-footer__logo {
    display: block;
  }

  .footer__social {
    border-bottom: none;
  }

  .page-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
}

/* desktop */

@media (min-width: @desktop-width) {

}
