/*.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  display: block;
  height: 35px;
  padding-left: 116px;
  padding-top: 22px;
}

.page-header__logo img {
  width: 86px;
  height: 35px;
}

/* new */

/*@media (min-width: @tablet-width) {
  .page-header__logo {
    height: 88px;
    padding-left: 51px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo {
    height: 88px;
  }
}*/
