.page-main__title {
  display: block;
  margin: 0 auto;
  width: 216px;
  padding-top: 88px;
  padding-bottom: 180px;

  font-size: 27px;
  line-height: 30px;
  color: #010000;
  text-align: center;
}

.page-main__img {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.catalog__title {
  font-size: 27px;
  line-height: 30px;
  color: #000000;

  background-color: #f1f1f1;
}

.order-title {
  font-size: 27px;
  line-height: 30px;
  color: #000000;

  background-color: #f1f1f1;
}
