/* mobile */

.page-footer__logo {
  display: none;
}

.page-footer {
  margin-top: 39px;

  background-color: #f1f1f1;
}

.footer__social {
  margin-right: 30px;
  margin-left: 30px;
  padding-bottom: 26px;

  border-bottom: @grey-border;
}

.social__list {
  .reset;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 62px;
  padding-left: 57px;
}

.social__item--instagram,
.social__item--twitter {
  padding-top: 30px;
}

.social__item--facebook {
  padding-top: 25px;
}

.footer-copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 69px;
  padding-bottom: 23px;
  padding-left: 69px;
}

.footer-copyright__text {
  margin: 0;
  padding-top: 28px;

  font-size: 19px;
  line-height: 18px;
  color: #000000;

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.footer-copyright__link {
  margin-top: 23px;
}

.footer-copyright__link svg {
  fill: #63d1bb;
}

.social__link:hover svg,
.footer-copyright__link:hover svg {
  fill: #46c1ae;
}

.social__link:active svg,
.footer-copyright__link:active svg {
  fill: rgba(70, 193, 174, 0.3);
}

/* tablet */

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding: 0 50px;
    padding-bottom: 52px;
  }

  .page-footer__logo {
    display: block;
    padding-top: 51px;
  }

  .page-footer__logo:hover svg {
    fill: #46c1ae;
  }

  .page-footer__logo:active svg {
    fill: rgba(70, 193, 174, 0.3);
  }

  .footer__social {
    margin: 0;
    padding: 0;
    min-width: 141px;

    border-bottom: none;
  }

  .social__list {
    padding: 0;
  }

  .social__item--instagram,
  .social__item--twitter {
    padding-top: 63px;
  }

  .social__item--facebook {
    padding-top: 55px;
  }

  .footer-copyright {
    padding: 0;
    min-width: 189px;
  }

  .footer-copyright__text {
    padding: 0;
    padding-top: 64px;
  }

  .footer-copyright__link {
    margin-top: 56px;
  }
}

/* desktop */

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    width: 1150px;
    margin: 0 auto;
  }
}
