/* mobile */

.producing {
  display: flex;
  flex-wrap: wrap;
  width: 260px;

  margin: 0 auto;
  margin-bottom: 30px;

  border: @grey-border;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.producing__title {
  position: relative;

  margin: 0;
  padding-top: 34px;
  padding-right: 43px;
  padding-bottom: 29px;
  padding-left: 90px;

  font-size: 17px;
}

.producing__title::before {
  content: "";

  position: absolute;
  top: 35px;
  left: 33px;

  width: 32px;
  height: 22px;

  background-image: url("../img/video.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

// .producing__title:hover::before {
//   background-size: 120%;
// }

.producing__description {
  margin: 0;
  padding-top: 29px;
  padding-right: 43px;
  padding-bottom: 26px;
  padding-left: 43px;

  font-size: 13px;
  color: #444444;
  font-weight: normal;
}

.producing__btn {
  display: flex;
  justify-content: center;
  min-width: 188px;
  margin-bottom: 33px;
  margin-left: 34px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.producing__item--img {
  position: relative;
}

.producing__item--img::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -50px;

  width: 101px;
  height: 77px;

  background-image: url("../img/play.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.producing__item--img:hover::before {
  transform: scale(1.2);
}

.producing__item--img:active::before {
  opacity: 0.3;

  transform: scale(0.8);
}

/* tablet */

@media (min-width: @tablet-width) {
  .producing {
    flex-direction: row;
    width: 666px;
  }

  .producing__item--img {
    order: -1;
  }

  .producing__title {
    padding-bottom: 40px;

    font-size: 20px;
  }

  .producing__description {
    padding-top: 0;
    padding-bottom: 40px;

    font-size: 15px;
    line-height: 30px;
  }

  .producing__btn {
    display: flex;
    justify-content: center;
    min-width: 582px;
    margin: 0 auto;
    margin-bottom: 46px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}

/* desktop */

@media (min-width: @desktop-width) {
  .producing {
    position: relative;

    flex-direction: column;
    flex-wrap: wrap;
    width: 1050px;
    margin-top: 57px;
    margin-bottom: 0;
  }

  .producing__item--img {
    position: absolute;
    top: 0;
    left: 0;

    width: 682px;
    height: 455px;
  }

  .producing__title {
    width: 370px;
    margin-left: auto;
    padding-top: 100px;
    padding-right: 52px;
    padding-bottom: 25px;
    padding-left: 82px;
  }

  .producing__description {
    width: 370px;
    margin-left: auto;
    padding-top: 8px;
    padding-right: 52px;
    padding-bottom: 50px;
    padding-left: 82px;
  }

  .producing__btn {
    min-width: 228px;
    margin: 0;
    margin-right: 57px;
    margin-left: auto;
    margin-bottom: 52px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}
