.promo {
  margin-top: 34px;
}

.promo__title {
  margin: 0;

  font-size: 25px;
  line-height: 30px;
}

.promo__label {
  margin: 0;
  margin-bottom: 30px;

  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
}

.promo__description {
  margin: 0;
  margin-bottom: 23px;

  color: #444444;
  font-weight: normal;
}

.promo__info {
  line-height: 20px;
  color: #444444;
  font-weight: normal;
  text-align: left;

  border-collapse: collapse;
}

.promo__info tr {
  border-bottom: 1px solid #444444;
}

.promo__value {
  padding-top: 15px;
  padding-right: 50px;
  padding-bottom: 15px;

  font-weight: normal;
}

.promo__field {
  padding-top: 15px;
  padding-bottom: 15px;
}

.promo__img {
  margin: 0;
  margin-top: 28px;
  margin-bottom: 28px;

  text-align: center;
}

.promo__price {
  display: block;
  margin-bottom: 28px;

  font-size: 17px;
  color: #444444;
  text-align: center;
}

.promo__btn {
  display: flex;
  justify-content: center;
  min-width: 256px;
  padding-top: 14px;
  padding-bottom: 14px;

  &:hover {
    color: #ffffff;

    background-color: #444444;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #444444;
  }
}
