.recommends__title {
  font-size: 25px;
  line-height: 30px;
}

.recommends__wrapper {
  .reset;
}

.recommends__text {
  line-height: 30px;
  color: #444444;
  font-weight: normal;
}

.recommends__author {
  font-size: 17px;
}

.recommends__nickname {
  font-size: 17px;
  line-height: 30px;
  color: #444444;
  font-weight: normal;
}
