.reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

.about-us-item-pseudo {
  content: "";

  position: absolute;
  top: -50px;
  left: 10px;

  background-repeat: no-repeat;
  background-position: 0 0;
}

.tablet-header {
  font-size: 43px;
  line-height: 50px;
}

.desktop-header {
  font-size: 53px;
  line-height: 57px;
}
